@import 'tailwindcss';

/* Tus estilos de limpieza que pusimos antes */
body {
  margin: 0;
  padding: 0;
  display: block;
  min-height: 100vh;
  background-color: #f8fafc;
}

#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
  }
}
